img {
  --s: 100px; /* corner size */
  padding: 20px; /* the gap */
  border: 8px solid darkorchid;
  mask:
    conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
     0 0/calc(100% - var(--s)) calc(100% - var(--s)),
    conic-gradient(#000 0 0) content-box;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  place-content: center;
  background: orchid;
}