@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@property --x {
  syntax: "<percentage>";
  initial-value: 35%;
  inherits: false;
}

@property --shine {
  syntax: "<color>";
  initial-value: transparent;
  inherits: false;
}

@property --shadow-strength {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: false;
}

:root {
  --h: 100;
  --s: 20%;
  --l: 30%;
  --surface-1: hsl(var(--h) var(--s) calc(var(--l) + 4%));
  --surface-2: hsl(var(--h) var(--s) calc(var(--l) + 8%));
  --surface-3: hsl(var(--h) var(--s) calc(var(--l) + 12%));
  --text: hsl(var(--h) var(--s) 96%);
  --text-alt: hsl(var(--h) var(--s) 85%);
  --shadow-color: var(--h) var(--s) 15%;
  --shadow-strength: 1%;
  --shadow: 0 -2px 5px 0 hsl(var(--shadow-color) /
          calc(var(--shadow-strength) + 2%)),
    0 1px 1px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
    0 2px 2px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
    0 5px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
    0 9px 9px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
    0 16px 16px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 6%));
  --space: 1rem;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--text);
  background: var(--surface-1);
  padding-inline: var(--space);
  font-size: 1.125rem;
  line-height: 1.4;
  font-family: system-ui, sans-serif;
  font-weight: 300;
}

main {
  display: grid;
  gap: 35vh;
}

.page-section {
  container-type: inline-size;
  display: grid;
  gap: var(--space);
  inline-size: min(var(--max, 30rem), 100%);
  margin-inline: auto;
}

.page-footer {
  margin-block-start: 50vh;
  text-align: center;
  padding: 2rem;

  h2 {
    display: grid;
  }

  h2::before {
    content: "";
    display: block;
    width: 1px;
    height: 3rem;
    margin-block-end: 0.5rem;
    margin-inline: auto;
    background: var(--surface-3);
  }
}

.icon {
  width: 2.5rem;
  height: auto;
}

.icon-sm {
  width: 1.5rem;
  color: var(--text-alt);
}

.text-label {
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 0.01em;
}

.author {
  text-align: end;
}

.cluster {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.page-headline {
  --_margin: 30vh;
  margin-block-start: var(--_margin);
  text-align: center;

  &::after {
    content: "";
    display: block;
    width: 1px;
    height: var(--_margin);
    margin-block-start: 0.8rem;
    margin-inline: auto;
    background: var(--surface-3);
  }
}

box-gleam {
  --_gleam: linear-gradient(
      170deg,
      transparent 40%,
      var(--surface-3),
      transparent 70%
    )
    var(--x) 0 / 600% 100% padding-box;
  --_gleam-cover: radial-gradient(
      circle at center,
      var(--surface-1),
      transparent
    )
    padding-box;
  --_cover: linear-gradient(var(--surface-1), var(--surface-1)) padding-box;
  --_shine: conic-gradient(
      from var(--angle),
      var(--shine),
      transparent 20% 80%,
      var(--shine)
    )
    border-box;
  --_edges: linear-gradient(
      170deg,
      var(--surface-3),
      var(--surface-2) 20% 80%,
      var(--surface-3)
    )
    border-box;

  display: grid;
  gap: var(--space);
  position: relative;
  padding: 1.6rem;
  border-radius: 0.8rem;
  border: 1px solid transparent;
  box-shadow: var(--shadow);
  background: var(--_gleam-cover), var(--_gleam), var(--_cover), var(--_shine),
    var(--_edges);
}

@supports (animation-timeline: view()) {
  box-gleam {
    animation: linear both;
    animation-name: gleam, shine, shadow;
    animation-timeline: view();
    animation-range: cover -10% cover 100%, entry 0% cover 65%,
      entry 0% exit 150%;
  }
}

@media (prefers-reduced-motion: reduce) {
  box-gleam {
    animation: none !important;
  }
}

@keyframes gleam {
  from {
    --angle: -1turn;
    --x: 0%;
  }
  to {
    --angle: 1turn;
    --x: 100%;
  }
}

@keyframes shadow {
  from,
  to {
    box-shadow: none;
  }
  50%,
  65% {
    box-shadow: var(--shadow);
  }
}

@keyframes shine {
  0%,
  45% {
    --shine: transparent;
  }
  80% {
    --shine: hsl(var(--h) var(--s) calc(var(--l) + 38%));
  }
}

bento-grid {
  display: grid;
  gap: var(--space);

  > * {
    display: grid;
    place-items: center;
    place-content: center;
    text-align: center;
    padding: 2.5rem;
  }
}

@container (inline-size > 35rem) {
  bento-grid {
    grid-template-columns: repeat(var(--col-count, 3), 1fr);
    grid-template-rows: repeat(var(--row-count, 3), auto);

    > * {
      grid-column: var(--col);
      grid-row: var(--row);
    }
  }
}

/* Check browser support */
.browser-support-text {
  display: none;
}

@supports not (animation-timeline: view()) {
  .browser-support-text {
    display: block;
    color: yellow;
  }
}
