@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Press+Start+2P&display=swap');

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    text-align: center;
    font-style: normal;
    color: white;
    font-size: 60px;
    transition: 1s;
}

h1:hover{
    color: deeppink;
}
nav{
    height: 4vh;
    display:flex;
    justify-content: space-between;
    position: sticky;
    width: 98vw;
    padding: .5em;
    background-color: hotpink;
    transition: 0.5s;
}

nav:hover{
    background-color: deeppink;
}
nav a{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
    list-style: none;
    text-align: center;
    text-decoration: none;
    font-family: "JetBrains Mono", monospace;
    color:white;
}


img{
    padding-top: 50px;
    width:40vw;
    height: 50vh;
}

#red-ball{
    background-color: hotpink;
    width: 60px;
    height:60px;
    border-radius: 50%;
    position: absolute;
    left:5vw;
    top:4vw;
    animation-name: bounce;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#red-ball-2{
    background-color: hotpink;
    width: 60px;
    height:60px;
    border-radius: 50%;
    position: absolute;
    right:5vw;
    top:4vw;
    animation-name: bounce2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes bounce {
    
    from{
        transform: translate(0 0);
    }
    to{
        transform: translate(3vw);
    }
}

@keyframes bounce2 {
    
    from{
        transform: translate(0 0);
    }
    to{
        transform: translate(-3vw);
    }
}